@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#main-window {
    background-color: transparent !important;
}
#tabbrowser-tabpanels, #navigator-toolbox {
    background-color: transparent !important;
}
