[Unit]
Description=Shikane
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/run/current-system/sw/bin/shikane
Restart=on-failure

[Install]
WantedBy=graphical-session.target
